extends ../layout

block content 

  h1= title 

  form(method='POST', action='', style='display:flex;flex-direction:column;width:50%')
    label(for='user') Username: 
    input#username(type='text' name='username', value=user, readonly)
    label(for='pet') Pet: 
    select#pet(type='select', name='pet')
      option(value='dog', selected) Dog 
      option(value='cat') Cat 
    label(for='name') Name: 
    input#name(type='text', name='name', placeholder='Give a name for the item...', required)
    label(for='type') Type of bag: 
    select#type(type='select', name='type')
      option(value='handbag', selected) Handbag
      option(value='carrier') Carrier 
      option(value='shoulder-bag') Shoulder Bag
      option(value='backpack') Backpack
    label(for='size') Size: 
    select#size(type='select', name='size')
      option(value='small') Small 
      option(value='medium') Medium 
      option(value='large') Large
    label(for='color') Color: 
    select#color(type='select', name='color')
      option(value='white', selected) White 
      option(value='black') Black 
      option(value='brown') Brown 
      option(value='beige') Beige
    label(for='description') Description: 
    textarea#description(type='textarea', name='description', placeholder='Describe the item...', required)
    label(for='price') Price: 
    input#price(type='number', name='price', step='0.01' placeholder='Price of item' required)
    label(for='quantity') Quantity: 
    input#quantity(type='number', name='quantity', placeholder='Quantity', required)
    button(type='submit') Submit 

  if errors 
    ul 
      for error in errors 
        li!=error.msg

  a(href='/bags') Go back