extends ../layout 

block content 

  h1= title 

  each bag in list 
    a(href=bag.url)
      div(style='border:solid black;margin-bottom:25px')
        p 
          span #[strong Name:] !{bag.name}
        p
          span #[strong Price:] $!{bag.price}

  a(href='/bags/create') Add New