extends ../layout 

block content 

  h1= title 

  a(href='/bags/create') Add New

  each bag in list 
    a(href=bag.url)
      div(style='border:solid black;margin-bottom:25px') 
        span #[strong Name:] !{bag.name}
        span #[strong Price:] $!{bag.price}

