extends ../layout

block content 

  h1= title 

  a(href='/beds/create') Add New

  each bed in list 
    a(href=bed.url)
      div(style='border:solid black;margin-bottom:25px')
        span #[strong Name:]  !{bed.name}
        span #[strong Price:] $!{bed.price}