extends ../layout

block content 

  h1= title 

  a(href='/hygiene/create') Add New 

  each product in list 
    a(href=product.url)
      div(style='border:solid black;margin-bottom:25px')
        span #[strong Name:] !{product.name}
        span #[strong Price:] $!{product.price}