extends ../layout

block content 

  h1= title 

  a(href='/leashes/create') Add New 

  each leash in list 
    a(href=leash.url)
      div(style='border:solid black;margin-bottom:25px')
        span #[strong Name:] !{leash.name}
        span #[strong Price:] $!{leash.price}