extends layout

block content

    h1= title
    
    if user
      if error 
        p Error getting the content.
      else 
        h2 Welcome #{user.username}!
        h3 You added #{sumOfItems} items to the stock.
        h3 
          a(href='/items') Your items
        h3 Category:
          ul 
            li 
              a(href='/bags') #[strong Bags/Carriers]
            li
              a(href='beds') #[strong Beds]
            li
              a(href='/clothes') #[strong Clothes]
            li
              a(href='/food') #[strong Food]
            li
              a(href='/hygiene') #[strong Hygiene]
            li
              a(href='/leashes') #[strong Leashes]
            li
              a(href='/scratching-posts') #[strong Scratching Posts]
            li
              a(href='/toys') #[strong Toys]

    else
      div.login-page
        img.main-image(src='/images/main_image.png', alt='cat and dog')
        div.login-container
          a(href='/new-user')
            button Sign Up
          a(href='/login')
            button Login
