doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' href='/images/pet-logo.png')
  body
    header 
      nav 
        a(href='/') Pet Shop Inventory

        if user
          ul 
            li 
              a(href='/') Home 
            li 
              a(href='/log-out') Log out
            li 
              div
                img(src='/uploads/' + user.avatar, alt='profile', width='50px')
                span= user.username
    if user 
      a(href='javascript:void(0)', onclick='goBack()') Go Back

    block content

    script.
      function goBack() {
        window.history.back()
      }
