doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' href='/images/pet-logo.png')
  body
    header 
      nav 
        a(href='/') Pet Shop Inventory

        if user
          ul 
            li 
              a(href='/') Home 
            li 
              a(href='/log-out') Log out

    block content
