extends layout 

block content 

  h1 Login

  if errorMsg 
    p= errorMsg

  form(method='POST', action='')
    section 
      label(for='username') Username: 
      input#username(type='text', name='username', autocomplete='username', required, autofocus)
    section 
      label(for='current-password') Password: 
      input#current-password(type='password', name='password', autocomplete='current-password', required)
    button(type='submit') Login

  a(href='/') Go back