extends layout 

block content 

  h1 Create a new user

  if error 
    p= error

  form(method='POST', action='')
    section 
      label(for='username') Username: 
      input#username(type='text', name='username', required, autofocus) 
    section
      label(for='password') Password: 
      input#password(type='password', name='password', required)
    button(type='submit') Submit

  a(href='/') Go back