@use 'base';

%login {
  width: 80%;
  max-width: 500px;

  @extend %centered;
  div.title {
    margin-bottom: 50px;
    @extend %centered;

    div.decor {
      @extend %underline;
    }
  }

  p.error {
    color: red;
    @extend %message;
  }

  p.info {
    @extend %message;
  }

  form {
    width: 100%;
    margin-top: 25px;
    @extend %centered;
    align-items: flex-start;
    gap: 20px;

    input,
    label {
      width: 100%;
    }

    label {
      font-weight: 700;
      font-size: 1.1rem;
      margin-bottom: -15px;
    }

    input {
      border-radius: 5px;
      font-size: 1rem;
      border: none;
      outline: 2px solid base.$secondary-color1;
      padding: 5px;

      &:focus {
        outline: solid base.$primary-color;
      }
    }
  }
}

%button-container {
  width: 100%;
  height: 100px;
  @extend %centered;
  flex-direction: row;
  gap: 25px;

  button {
    @extend %button;

    &:hover {
      @extend %button-hover;
    }
  }
}
