@use 'base';

nav {
  .logo {
    font-family: base.$title;
  }
}

// Intro page
div.intro-page {
  width: 70%;
  max-width: 500px;
  margin-top: 50px;

  img.main-image {
    width: 100%;
  }

  div.intro-container {
    @extend %centered;

    flex-direction: row;
    gap: 25px;
    height: 100px;

    button {
      @extend %button;

      &:hover {
        @extend %button-hover;
      }
    }
  }
}

// Sign up page
div.signup-page {
  width: 80%;
  max-width: 500px;

  @extend %centered;
  div.title {
    margin-bottom: 50px;

    div.decor {
      width: 100px;
      height: 3px;
      border-radius: 3px;
      background: base.$primary-color;
      margin: 0 auto;
    }
  }

  p.error {
    color: red;
    font-weight: 700;
    text-align: center;
  }

  form {
    width: 100%;
    margin-top: 25px;
    @extend %centered;
    align-items: flex-start;
    gap: 20px;

    input,
    label {
      width: 100%;
    }

    label {
      font-weight: 700;
      font-size: 1.1rem;
      margin-bottom: -15px;
    }

    input {
      border-radius: 5px;
      font-size: 1rem;
      border: none;
      outline: 2px solid base.$secondary-color1;
      padding: 5px;

      &:focus {
        outline: solid base.$primary-color;
      }
    }

    input#avatar {
      outline: none;
    }
  }

  div.signup-container {
    width: 100%;
    height: 100px;
    @extend %centered;
    flex-direction: row;
    gap: 25px;

    button {
      @extend %button;

      &:hover {
        @extend %button-hover;
      }
    }
  }
}

// Login page
div.login-page {
}
