@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Chewy&display=swap");
nav, nav ul, nav ul li, nav ul li a, div.intro-page, div.intro-page div.intro-container, div.home-page, div.home-page div.welcome-container, div.home-page div.category, div.home-page ul li a, div.items-page, div.items-page div.category, div.items-page div.category div.item, div.items-page div.category div.item div.info, div.form-page form, div.items-page div.title, div.form-page div.title, div.details-page div.title, div.signup-page, div.login-page, div.signup-page div.title, div.login-page div.title, div.signup-page form, div.login-page form, div.signup-page div.signup-container, div.login-page div.login-container, body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button#go-back, div.intro-page div.intro-container button, div.home-page div.welcome-container div.welcome-text button#items, div.items-page div.category a.add, div.form-page form button, div.details-page div.details div.form-container form button, div.signup-page div.signup-container button, div.login-page div.login-container button {
  color: #263238;
  font-weight: 700;
  font-size: 1rem;
  background: #92e3a9;
  border: none;
  border-radius: 5px;
  padding: 10px 12px;
  width: 120px;
  box-shadow: 5px 5px 0 #263238;
}

button#go-back:hover, div.intro-page div.intro-container button:hover, div.home-page div.welcome-container div.welcome-text button#items:hover, div.items-page div.category a.add:hover, div.form-page form button:hover, div.details-page div.details div.form-container form button:hover, div.signup-page div.signup-container button:hover, div.login-page div.login-container button:hover {
  cursor: pointer;
  box-shadow: none;
  transform: translateY(2px);
}

div.signup-page p.error, div.login-page p.error, div.signup-page p.info, div.login-page p.info {
  font-weight: 700;
  text-align: center;
  font-size: 1.1rem;
}

div.home-page div.category div.decor, div.items-page div.title div.decor, div.form-page div.title div.decor, div.details-page div.title div.decor, div.signup-page div.title div.decor, div.login-page div.title div.decor {
  width: 100px;
  height: 3px;
  border-radius: 3px;
  background: #92e3a9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo 2", sans-serif;
  text-decoration: none;
}

body {
  min-height: 100vh;
  color: #263238;
}
body h1 {
  color: #263238;
}

div.signup-page, div.login-page {
  width: 80%;
  max-width: 500px;
}
div.signup-page div.title, div.login-page div.title {
  margin-bottom: 50px;
}
div.signup-page p.error, div.login-page p.error {
  color: red;
}
div.signup-page form, div.login-page form {
  width: 100%;
  margin-top: 25px;
  align-items: flex-start;
  gap: 20px;
}
div.signup-page form input, div.login-page form input,
div.signup-page form label,
div.login-page form label {
  width: 100%;
}
div.signup-page form label, div.login-page form label {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: -15px;
}
div.signup-page form input, div.login-page form input {
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  outline: 2px solid #263238;
  padding: 5px;
}
div.signup-page form input:focus, div.login-page form input:focus {
  outline: solid #92e3a9;
}

div.signup-page div.signup-container, div.login-page div.login-container {
  width: 100%;
  height: 100px;
  flex-direction: row;
  gap: 25px;
}
div.items-page div.title, div.form-page div.title, div.details-page div.title {
  margin-bottom: 50px;
}
div.items-page div.title h1, div.form-page div.title h1, div.details-page div.title h1 {
  font-size: 1.5rem;
}
@media only screen and (min-width: 1440px) {
  div.items-page div.title h1, div.form-page div.title h1, div.details-page div.title h1 {
    font-size: 1.8rem;
  }
}
div.items-page div.title img, div.form-page div.title img, div.details-page div.title img {
  margin-top: 20px;
  width: 60%;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #263238;
  padding: 8px 0;
}
@media only screen and (min-width: 601px) {
  nav {
    padding: 8px 50px;
  }
}
nav a.logo {
  font-family: "Chewy", sans-serif;
  font-size: 1.2rem;
  color: #263238;
  width: 50%;
  text-align: center;
}
@media only screen and (min-width: 601px) {
  nav a.logo {
    width: unset;
    font-size: 1.5rem;
  }
}
nav div.divider {
  width: 3px;
  height: 25px;
  background: #92e3a9;
}
@media only screen and (min-width: 601px) {
  nav div.divider {
    display: none;
  }
}
nav ul {
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}
@media only screen and (min-width: 601px) {
  nav ul {
    justify-content: flex-end;
    gap: 10%;
    max-width: 500px;
  }
}
nav ul li {
  list-style: none;
  font-size: 1rem;
  font-weight: 700;
}
@media only screen and (min-width: 601px) {
  nav ul li {
    font-size: 1.2rem;
  }
}
nav ul li a {
  color: #263238;
}
nav ul li a:hover {
  -webkit-text-decoration: 5px underline;
          text-decoration: 5px underline;
  text-decoration-color: #92e3a9;
}
nav ul li img#home-icon {
  width: 20px;
}
@media only screen and (min-width: 601px) {
  nav ul li img#home-icon {
    display: none;
  }
}
nav ul li img#logout-icon {
  width: 18px;
}
@media only screen and (min-width: 601px) {
  nav ul li img#logout-icon {
    display: none;
  }
}
nav ul li img#avatar {
  border-radius: 50%;
  width: 35px;
}
@media only screen and (max-width: 600px) {
  nav ul li#home-text {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  nav ul li#logout-text {
    display: none;
  }
}

button#go-back {
  width: 75px;
  padding: 5px 0;
  position: fixed;
  top: 10%;
  right: 5%;
}
div.intro-page {
  width: 70%;
  max-width: 500px;
}
div.intro-page h1 {
  font-family: "Chewy", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 1px;
}
@media only screen and (min-width: 1440px) {
  div.intro-page h1 {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 601px) {
  div.intro-page h1 {
    font-size: 2.2rem;
  }
}
div.intro-page img.main-image {
  width: 100%;
  margin-top: 30px;
}
div.intro-page div.intro-container {
  flex-direction: row;
  gap: 25px;
  height: 100px;
}
div.signup-page input#avatar {
  outline: none;
}
div.home-page {
  padding-bottom: 100px;
}
div.home-page div.welcome-container {
  flex-direction: row;
  padding: 0 10px;
  margin: 80px 0;
  height: 40vh;
}
@media only screen and (min-width: 1440px) {
  div.home-page div.welcome-container {
    height: 100vh;
    width: 80vw;
    margin: unset;
    margin-bottom: 100px;
  }
}
div.home-page div.welcome-container div.welcome-text h1 {
  color: #629871;
  font-size: 1.6rem;
}
@media only screen and (min-width: 601px) {
  div.home-page div.welcome-container div.welcome-text h1 {
    font-size: 2rem;
    margin-bottom: 50px;
  }
}
div.home-page div.welcome-container div.welcome-text p {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 20px;
}
@media only screen and (min-width: 601px) {
  div.home-page div.welcome-container div.welcome-text p {
    font-size: 1.5rem;
  }
}
div.home-page div.welcome-container div.welcome-text p span {
  color: #629871;
}
div.home-page div.welcome-container div.welcome-text button#items {
  width: 140px;
  padding: 5px 0;
  font-size: 0.9rem;
}
@media only screen and (min-width: 601px) {
  div.home-page div.welcome-container div.welcome-text button#items {
    font-size: 1rem;
  }
}
div.home-page div.welcome-container img {
  width: 40%;
  max-width: 600px;
}
div.home-page div.category {
  margin-bottom: 80px;
}
div.home-page div.category h2 {
  font-size: 1.4rem;
}
@media only screen and (min-width: 601px) {
  div.home-page div.category h2 {
    font-size: 1.8rem;
  }
}
div.home-page ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  padding: 0 10px;
}
@media only screen and (min-width: 1440px) {
  div.home-page ul {
    height: 50vh;
  }
}
@media only screen and (min-width: 601px) {
  div.home-page ul {
    -moz-column-gap: 25px;
         column-gap: 25px;
    row-gap: 50px;
  }
}
div.home-page ul li {
  list-style: none;
}
div.home-page ul li a {
  text-align: center;
  color: #629871;
  font-size: 0.9rem;
  font-weight: 700;
}
@media only screen and (min-width: 601px) {
  div.home-page ul li a {
    font-size: 1.2rem;
  }
}
div.home-page ul li a img {
  width: 50px;
}
@media only screen and (min-width: 601px) {
  div.home-page ul li a img {
    width: 100px;
  }
}
div.home-page ul li a:hover {
  color: orange;
}

div.items-page {
  margin: 150px 0 100px 0;
  width: 100%;
  padding: 0 10px;
}
@media only screen and (min-width: 601px) {
  div.items-page {
    width: 60%;
    max-width: 500px;
  }
}
div.items-page div.category {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
}
div.items-page div.category h2 {
  font-size: 1.3rem;
}
@media only screen and (min-width: 1440px) {
  div.items-page div.category h2 {
    font-size: 1.6rem;
  }
}
div.items-page div.category a.add {
  width: 80px;
  font-size: 0.9rem;
  padding: 5px;
  text-align: center;
  margin-bottom: 25px;
}
div.items-page div.category div.item {
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px 0;
  border-radius: 5px;
  border: solid #629871;
  margin-bottom: 25px;
  box-shadow: 5px 5px 5px gainsboro;
}
div.items-page div.category div.item div.info {
  align-items: flex-start;
  width: 60%;
}
@media only screen and (min-width: 1440px) {
  div.items-page div.category div.item div.info {
    font-size: 1.2rem;
  }
}
div.items-page div.category div.item div.info p span {
  color: #629871;
  word-break: break-all;
}
div.items-page div.category div.item div.info a {
  font-weight: 700;
  background: #92e3a9;
  color: #263238;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.9rem;
  margin-top: 25px;
}
div.items-page div.category div.item div.info a:hover {
  background: orange;
}
div.items-page div.category div.item img {
  width: 60px;
}
@media only screen and (min-width: 601px) {
  div.items-page div.category div.item img {
    width: 80px;
  }
}
div.items-page div.category p.status {
  font-weight: 700;
  margin-top: 20px;
}
@media only screen and (min-width: 1440px) {
  div.items-page div.category p.status {
    font-size: 1.2rem;
  }
}
div.items-page div.divider {
  width: 100%;
  height: 3px;
  background: #629871;
  margin-bottom: 25px;
}

div.form-page {
  margin: 150px 0 100px 0;
  padding: 0 15px;
}
@media only screen and (min-width: 601px) {
  div.form-page {
    width: 60%;
    max-width: 500px;
  }
}
div.form-page ul {
  padding: 0 25px;
  margin-bottom: 25px;
}
div.form-page ul li {
  color: red;
  font-size: 1.1rem;
}
div.form-page form {
  align-items: flex-start;
}
div.form-page form input,
div.form-page form textarea,
div.form-page form select {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  outline: 1px solid #263238;
}
div.form-page form input:focus,
div.form-page form textarea:focus,
div.form-page form select:focus {
  outline: solid #92e3a9;
}
div.form-page form select {
  background: #fff;
}
div.form-page form label {
  font-weight: 700;
  font-size: 1.1rem;
  color: #629871;
  margin-bottom: 5px;
}
div.form-page form button {
  width: 100px;
  font-size: 1rem;
}
div.details-page {
  margin: 150px 0 100px 0;
  padding: 0 15px;
  width: 100%;
}
@media only screen and (min-width: 601px) {
  div.details-page {
    width: 60%;
    max-width: 500px;
  }
}
div.details-page div.details {
  border: 2px solid #629871;
  border-radius: 5px;
  padding: 20px 10px;
  box-shadow: 5px 5px 5px gainsboro;
  width: 100%;
}
div.details-page div.details p {
  margin-bottom: 20px;
}
@media only screen and (min-width: 601px) {
  div.details-page div.details p {
    font-size: 1.2rem;
  }
}
div.details-page div.details p span {
  color: #629871;
}
div.details-page div.details div.form-container {
  display: flex;
  gap: 25px;
  margin-top: 25px;
}
div.details-page div.details div.form-container form button {
  width: 100px;
  padding: 5px;
}/*# sourceMappingURL=style.css.map */