extends ../layout

block content 

  h1= title 

  a(href='/toys/create') Add New 

  each toy in list 
    a(href=toy.url)
      div(style='border:solid black;margin-bottom:25px')
        span #[strong Name:] !{toy.name}
        span #[strong Price:] $!{toy.price}